@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

* {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans";
    color: rgb(39, 36, 36);
}

body {
    background-image: url("../data/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.WeatherArea {
    display: flex;
    justify-content: center;
    padding: 5rem;
}
